{% extends "layout.njk" %}

{% block content %}
    <div class="min-h-screen flex items-center justify-center">
      <h1 class="text-5xl text-orange-800 font-sans">Greetings.</h1>
    </div>
{% endblock %}