<!doctype html>
<html lang="en">
  <head>
    <title>Tailwind Starter Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../assets/css/styles.css" rel="stylesheet"/>
  </head>


<body>


<header>
 <nav>
    <div id="menu_top">
        <select>
            <option value="">
                français
            </option>
        </select>
        <select>
        <option value="">les communes</option>
        </select>
        <select>
        <option value="">Mon espace</option>
        </select>
        <input type="search" placeholder="recherche">
    </div>
    <div id="menu_btm">
    </div>
 </nav>
</header>

<main>
{% block content %}
    Pas de contenu
{% endblock %}
</main>

FOOTER

</body>
</html>