 <div class="footer__container my-0 mx-auto max-w-container  text-black font-bold bg-gray">
        <div class="footer__top h-footer-top text-sm border-black border-b border-solid flex justify-center items-center">
          <ul class="footer__top-item flex">
            <li class="footer__item_logo mr-5">
              <img src="../assets/img/logo_region_1.png" alt="">
            </li>
            <li class="footer__item_logo mr-5">
              <img src="../assets/img/logo_region_2.png" alt="">
            </li>
            <li class="footer__item_logo mr-5">
              <img src="../assets/img/logo_region_3.png" alt="">
            </li>
            <li class="footer__item_logo mr-5">
              <img src="../assets/img/logo_region_4.png" alt="">
            </li>
            <li class="footer__item_logo mr-5">
              <img src="" alt="">
            </li>
          </ul>
        </div>
        <div class="footer__middle flex justify-between items-center h-footer-middle border-black border-b border-solid ">
          <ul class="footer__middle-item flex">
            <li class="footer__middle-log w-4 h-4 mr-5">
              <a href="#">
                <img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0>
              </a>
              </li>
            <li class="footer__middle-log w-4 h-4 mr-5">
              <a href="#">
                <img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png"
                  border=0>
              </a>
            </li>
            <li class="footer__middle-log w-4 h-4 mr-5">
              <a href="#">
                <img alt="follow me on pinterest" src="https://c866088.ssl.cf3.rackcdn.com/assets/pinterest30x30.png" border=0></a>
              </a>
            </li>
            <li class="footer__middle-log w-4 h-4 mr-5">
              <a href="#">
                <img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0>
              </a>
            </li>
            <li class="footer__middle-log w-4 h-4 mr-5">
              <a href="#">
                <img alt="follow me on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube30x30.png" border=0>
              </a>
            </li>
          </ul>
          <div class="footer__middle-right">
            <label for="email">Newsletter:</label>
            <input class="h-10"type="email" id="email" placeholder="Entrez votre email">
            <button class="btn__newsletter text-white font-bold font-base text-center bg-black w-24 h-10" type="button">
              S'inscrire
            </button>
          </div>
        </div>
        <div class="footer__bottom flex justify-between items-center h-24 text-black font-base">
          <ul class="footer__bottom-left flex">
            <li class="footer__bottom-item mr-10">
              <a href="#">
                Index du site
              </a>
            </li>
            <li class="footer__bottom-item mr-10">
              <a href="#">
                Mention Légales
              </a>
            </li>
            <li class="footer__bottom-item mr-10">
              <a href="#">
                Contact
              </a>
            </li>
          </ul>
          <p class="footer__bottom-cop text-xs text-black"> &copy; 2018 Ville d'Annecy. Tous droits réservés.
        </div>
      </div>