<div class="flex mb-5 h-48">
    <div class="w-1/4 p-1 text-3xl text-datecolor font-bold">
        <p>{{article.date}}</p>
    </div>
    <div class="w-3/4">
        <h2 class="text-4xl font-medium leading-tight"> {{article.title}} </h2>
        <p class="text-lg text-datecolor w-contentwidth"> {{article.content}} </p>
    </div>
</div>
