<div class="flex mb-5">
    <div class="w-1/4 text-3xl text-datecolor font-bold">
        <p>{{article.date}}</p>
    </div>
    <div class="w-3/4">
        <h2 class="text-3xl font-bold"> {{article.title}} </h2>
        <p> {{article.content}} </p>
    </div>
</div>
