   {% if service.categories == "Download"  %}
      {% set subtitle = "Télécharger le document" %}
      {% set iconcolor = "bg-icondownload" %}
      {% set iconcard = "download.njk" %}
   {% elif service.categories == "Book" %}
      {% set subtitle = "Reserver" %}
      {% set iconcolor = "bg-iconbook" %}
      {% set iconcard = "bookicon" %}
   {% else %}
      {% set subtitle = "Devis" %}
      {% set iconcolor = "bg-icondevis" %}
      {% set iconcard = "devisicon" %}
   {% endif %}


<div class=" flex items-center w-carwidth bg-white m-1 h-24 border-solid border border-bordercard shadow">
<div>
<div class="w-10 h-10 rounded-full mx-4 my-6 {{iconcolor}}">
    {# {% include "../iconcard/{{iconcard}}" %} #}
</div>
</div>
<div>
   <h1 class="p-2 text-lg text-black">{{ service.title }}</h1>
   <h4 class="p-2 text-sm text-datecolor">{{ subtitle}}</h4>
</div>
</div>